.App {
  text-align: center;
}

.full {
  width: 100%;
  height: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: rgb(31, 46, 89) !important;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

label {
  color: #7c85a1 !important;
}

.ant-table-thead > tr > th {
  background: none !important;
  border-bottom: none !important;
}

.MuiPaper-elevation4-16 {
  border-bottom: none !important;
}

.MuiButton-label-78 {
  color: #7c85a1 !important;
}

.MuiTypography-root-41 {
  color: #7c85a1 !important;
}


.App-link {
  color: #61dafb;
}

td {
  padding: 0 !important;
}

.ant-table-tbody > tr > td {
  border: none !important;
}


.ant-card-bordered {
  border: none !important;
}

@media screen and (max-width: 719px) {
  .ant-card-bordered {
    border-bottom: 1px solid #e8e8e8 !important;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ant-menu-vertical {
  height: 100% !important;
}

.ant-page-header {
  width: calc(100% - 270px);
  float: left;
}

.ant-table-pagination {
  display: none;
}

.ant-table-thead {
  background: linear-gradient(45deg, #0e1839 12%,#0e1839 12%,#0e1839 23%,#0e1839 46%,#0e1839 63%,#0e1839 64%,#0e1839 64%,#207cca 100%,#97abff 100%)
!important;
}

.ant-table-thead div {
  color: rgb(182, 195, 217) !important;
}

.MuiPaper-elevation4-16 {
  box-shadow: none !important;
  border-bottom: 1px solid #e5e5e5;
}

.ant-card-body {
  padding: 0 !important;
}

.ant-modal-header {
  background-color: rgb(31, 46, 89) !important;
  border-bottom: none !important;
}

.ant-modal-title {
  color: rgb(145, 182, 217) !important;
}

.ant-modal-body {
  background-color: rgb(12, 23, 56);
}

.ant-modal-footer {
  background-color: rgb(12, 23, 56);
  border-top: none !important;
}

.ant-card-head {
  border-bottom: none !important;
}

.ant-card-head-title {
  color: rgb(203, 217, 255);
}

.bg {
  background-image: url("./wave.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  min-width: 1920px;
}

.bgg {
  background-image: url("./axis-1682941.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.ant-form-item-label {
  width: 105px;
}


.ant-btn-primary {
  margin-right: 5px !important;
}

.ant-divider-vertical {
  background-color: rgb(124, 133, 161) !important;
}

.MuiToolbar-gutters-38 {
  padding-left: 50px !important;
}

.bgbg {
  background-image: url("/background-1462755.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.ant-table-row:hover {
  background-color: #40a9ff !important;
}

.ant-menu-item {
  margin-top: 0 !important;
}

.styles_modal__gNwvD {
  padding: 0 !important;
}

@media screen and (max-width: 719px) {
  .ant-form-item-label {
    padding-bottom: 3px !important;
  }
}
